body {
    background-image: url("./Images/bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-item {
    font-size: 20px;
}

.nav-link {
    font-size: 20px;
}

.card {
    margin-top: 70px;
    margin-bottom: 50px;
}

.card-img-top  {
    
}

.card-text {
    float: left;
    padding-top: auto;
    padding-bottom: auto;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 50px;
}

.vote {
    height: 32px;
    width: 32px;
    padding-left: 1000;
}

.text {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
}