body {
    background-image: url("./Images/bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-item {
    font-size: 20px;
}

.nav-link {
    font-size: 20px;
}

.card {
    margin-top: 70px;
    margin-bottom: 50px;
}

.card-text {
    float: left;
    padding-top: auto;
    padding-bottom: auto;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 50px;
}

.vote {
    height: 32px;
    width: 32px;
    padding-left: 1000;
}

.text {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.videos {
    margin: 5%;
}

.nav :justify-content-center {
    margin-top: 90%;
}

.infoitem {
    display: inline;
    margin: 20px;
}

#info {
    margin-top: 2%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

#carouselExampleSlidesOnly {
    margin-left: 15%;
    margin-top: 5%;
}

#pic {
    margin: auto;
    display: block;
    width: 800px;
    height: 690px;
}

#text {
    padding-bottom: 50px; 
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navlogo {
    width: 64px;
    height: 64px;
}

#instagram {
    width: 48px;
    height: 48px;
}

#facebook {
    width: 28px;
    height: 28px;
}

#reddit {
    width: 34px;
    height: 34px;
}

#infopic {
    width: 64px;
    height: 64px;
}

#icon {
    width: 64px;
    height: 64px;
}