body {
    background-image: url("./Images/bg.png")
}

.nav-item {
    font-size: 20px;
}

.nav-link {
    font-size: 20px;
}

textarea {
    background-color: #555555
}

label {
    color: #eeeeee
}

input {
    color: #eeeeee
}

.form-group1 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.form-group2 {
    padding-left: 20px;
    margin-top: 150px;
    resize: none;
}

#uploadForm {
    float: left;
    margin-left: 25%;
    margin-top: 80px;
}

.list-group {
    float: right;
    margin-top: 145px;
    margin-right: 25%;
    max-width: 300px;
}

h5 {
    padding-top: 20px;
}